<div style="background: #413e3e" class="myfooter">
  <div class="row">
      <p class="social">Connect on <a href="http://www.twitter.com/#!/albanesetr">Twitter</a> and <a href="http://www.linkedin.com/in/albanesetr">LinkedIn</a></p>
      <p class="copyright"><small>Copyright MaximumBeta.com 2012-2013</small></p>
  </div>
</div>
